@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.font-cursive {
    font-family: 'Dancing Script', cursive; 
    /* To use this, add Dancing Script in application.html.erb imports if needed for certs, else standard serif */
}
